@font-face {     
	src: url("../police/Triforce.ttf");      
	font-family: "triforce"; 
}   
	
body {
	background-image: url("../images/background-image.jpg");
	background-repeat: no-repeat;     
	font-family: Triforce;          
}

/*Navbar*/

nav {
	background-color: black;
}

#nav {
	width : 2%;
}


/*Footer*/

footer {
	background-color: black;
}

#foot {
	width: 15%;
}